body {
    display: block;
    margin: 8px;
    background-color: #E2E1FA;
}

.funParagraph {
    color: green;
    font-size: 20px;
    background-color: #E2E1FA;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mainHeading {
    color: red;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

#JiuJitsuHeader {
    text-align: center;
}

#ClimbingHeader {
    text-align: center;
}

#BirdsHeader {
    text-align: center;
}

#JiuJitsuParagraph{
    color: #800000;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

#ClimbingParagraph {
    color: #800000;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px; 
}

#SecondClimbingParagraph {
    color: #800000;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;    
}

#BirdsParagraph {
    color: #800000;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

#Footer {
    color: #800000;
    font-size: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
